[autotune_tmc stepper_x]
motor: omc-17he19-2004s
tuning_goal: silent
sg4_thrs: 80
[autotune_tmc stepper_y]
motor: omc-17he19-2004s
tuning_goal: silent
sg4_thrs: 80
#[autotune_tmc stepper_z]
#motor: omc-17hm19-2004s
#tuning_goal: silent
#[autotune_tmc stepper_z1]
#motor: omc-17hm19-2004s
#tuning_goal: silent
#[autotune_tmc extruder]
#motor: ldo-36sth20-1004ahg
#tuning_goal: performance