# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBB]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_080036001750304158373620-if00

[temperature_sensor EBB36]
sensor_type: Generic 3950
sensor_pin: EBB:PA0
pullup_resistor: 2200

[lis2dw]
cs_pin: EBB:PB1
spi_bus:spi2_PB2_PB11_PB10
axes_map: x,y,z

[resonance_tester]
accel_chip: lis2dw
probe_points:
    155, 155, 20  # an example

[extruder]
step_pin: EBB:PB14
dir_pin: EBB:PA8
enable_pin: !EBB:PB6
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 4.7118288
max_extrude_cross_section: 50
max_extrude_only_distance: 500
max_extrude_only_velocity: 60
max_extrude_only_accel: 600
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBB:PB4
sensor_type: EPCOS 100K B57560G104F
pullup_resistor: 2200
sensor_pin: EBB:PA3
control: pid
pid_Kp: 20.707
pid_Ki: 0.822
pid_Kd: 130.454
min_temp: 0
max_temp: 300
min_extrude_temp: 0

[verify_heater extruder]
max_error: 120
check_gain_time: 60
hysteresis: 20
heating_gain: 2


[tmc2209 extruder]
uart_pin: EBB:PB3
run_current: 0.450
stealthchop_threshold: 0
interpolate: False

[bltouch] 
sensor_pin: ^!EBB:PB8
control_pin: EBB:PB5
pin_move_time: 0.680
stow_on_each_sample: False
probe_with_touch_mode: True
pin_up_reports_not_triggered: True
pin_up_touch_mode_reports_triggered: True
x_offset: -40.9
y_offset: -5.6
#z_offset: 0
speed: 2.5
samples: 3
sample_retract_dist: 0.5
samples_result: median
samples_tolerance: 0.100
samples_tolerance_retries: 3

[fan]
pin: EBB:PD3

[heater_fan hotend_fan]
pin: EBB:PA5
heater: extruder
heater_temp: 50.0