# This file contains common pin mappings for the BigTreeTech Octopus
# (non-Pro) boards.

# Important! Do not use this config with an Octopus Pro v1.1 board as
# doing so could result in a heater being inadvertently enabled.

# To use this config, start by identifying the micro-controller on the
# board - it may be an STM32F446, or STM32F429.  Select the
# appropriate micro-controller in "make menuconfig" and select "Enable
# low-level configuration options". For STM32F446 boards the firmware
# should be compiled with a "32KiB bootloader" and a "12MHz crystal"
# clock reference. For STM32F429 boards use a "32KiB bootloader" and
# an "8MHz crystal".

# See docs/Config_Reference.md for a description of parameters.

[mcu]
serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
# CAN bus is also available on this board

# Driver0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 32
full_steps_per_rotation: 200
position_endstop: -28
position_min: -28
position_max: 332
homing_speed: 40
homing_retract_dist: 0
endstop_pin: tmc2209_stepper_x:virtual_endstop

# Driver1
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 32
full_steps_per_rotation: 200
position_endstop: -25
position_min: -25
position_max: 341
homing_speed: 40
homing_retract_dist: 0
endstop_pin: tmc2209_stepper_y:virtual_endstop

# Driver2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
microsteps: 8
rotation_distance: 4
full_steps_per_rotation: 400
endstop_pin: probe:z_virtual_endstop
position_max: 340
position_min: -5

# Driver3
# The Octopus only has 4 heater outputs which leaves an extra stepper
# This can be used for a second Z stepper, dual_carriage, extruder co-stepper,
# or other accessory such as an MMU
[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
microsteps: 8
rotation_distance: 4
full_steps_per_rotation: 400

# Driver4
#[extruder]
#step_pin: PF9
#dir_pin: PF10
#enable_pin: !PG2
#microsteps: 16
#rotation_distance: 33.500
#nozzle_diameter: 0.400
#filament_diameter: 1.750
#heater_pin: PA2 # HE0
#sensor_pin:  PF4 # T0
#sensor_type: EPCOS 100K B57560G104F
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
#min_temp: 0
#max_temp: 250

[filament_motion_sensor smart_filament_sensor]
detection_length: 15.0
extruder: extruder
switch_pin: PG12
pause_on_runout: True

#[filament_switch_sensor material_0]
#switch_pin: PG12

# Driver5
#[extruder1]
#step_pin: PC13
#dir_pin: PF0
#enable_pin: !PF1
#heater_pin: PA3 # HE1
#sensor_pin: PF5 # T1
#...

#[filament_switch_sensor material_1]
#switch_pin: PG13

# Driver6
#[extruder2]
#step_pin: PE2
#dir_pin: PE3
#enable_pin: !PD4
#heater_pin: PB10 # HE2
#sensor_pin: PF6 # T2
#...

#[filament_switch_sensor material_2]
#switch_pin: PG14

# Driver7
#[extruder3]
#step_pin: PE6
#dir_pin: PA14
#enable_pin: !PE0
#heater_pin: PB11 # HE3
#sensor_pin: PF7 # T3
#...

#[filament_switch_sensor material_3]
#switch_pin: PG15

[heater_bed]
heater_pin: PA1
sensor_pin: PF3 # TB
sensor_type: Generic 3950
control: pid
pid_Kp: 49.496
pid_Ki: 1.556
pid_Kd: 393.496
min_temp: 0
max_temp: 130
pwm_cycle_time: 0.02

#[fan]
#pin: PA8

#[heater_fan fan1]
#pin: PE5

#[heater_fan fan2]
#pin: PD12

#[heater_fan fan3]
#pin: PD13

#[heater_fan fan4]
#pin: PD14

#[controller_fan fan5]
#pin: PD15

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PC4
diag_pin: PG6
run_current: 1.0
#driver_SGTHRS: 82
#stealthchop_threshold: 999999
interpolate: True

[tmc2209 stepper_y]
uart_pin: PD11
diag_pin: PG9
run_current: 1.0
#driver_SGTHRS: 65
#stealthchop_threshold: 999999
interpolate: True

[tmc2209 stepper_z]
uart_pin: PC6
##diag_pin: PG10
run_current: 0.7
stealthchop_threshold: 999999
interpolate: True

[tmc2209 stepper_z1]
uart_pin: PC7
##diag_pin: PG11
run_current: 0.7
stealthchop_threshold: 999999
interpolate: True

#[tmc2209 extruder]
#uart_pin: PF2
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2209 extruder1]
#uart_pin: PE4
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2209 extruder2]
#uart_pin: PE1
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2209 extruder3]
#uart_pin: PD3
#run_current: 0.800
#stealthchop_threshold: 999999

[controller_fan motor_a_fan]
pin: PA8
max_power: 1.0
shutdown_speed: 0.0
fan_speed: 1.0
#fan_speed: 0.5
stepper: stepper_x

[controller_fan motor_b_fan]
pin: PE5
max_power: 1.0
shutdown_speed: 0.0
fan_speed: 1.0
#fan_speed: 0.5
stepper: stepper_y

#[led my_led]
#white_pin: PD12
#cycle_time: 0.005

#[controller_fan board_fan]
#pin: PD12
#max_power: 1.0
#shutdown_speed: 0.0
#fan_speed: 1.0
#fan_speed: 0.0

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5
